<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>Maybelline Products</title>
</head>
<body>
    <header>
        <div>
            <a href="/">Home</a>
            <a href="/all">Maybelline Products</a>
            <a href="/mycards">Mycard</a>
        </div>
    </header>
    <section class="ProductSection">
        <% mArray.forEach(makeup =>{%> 
            <div>
            <form action="/add" method="post">
                <input type="hidden" name="name" value="<%= makeup.name %> ">
                <input type="hidden" name="price" value="<%= makeup.price %> ">
                <input type="hidden" name="image" value="<%= makeup.image %> ">
                <input type="hidden" name="description" value="<%= makeup.description %> ">
                <img src="<%= makeup.image %> " alt="makeup">
                <h2> <%= makeup.name %> </h2>
                <h3> <%= makeup.price %> </h3>
                <p> <%= makeup.description %> </p>
            <button>Add to card</button>
        </form>
    </div>
        <% }) %> 
    </section>
        
</body>
</html>